{% extends "master.html" %}

{% block title %}
  sign up 
{% endblock %}

{% block content %}
  
  <form method="post">
      <div class="signup">
        <h2>Sign Up</h2>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Sign Up</button>
        <br><br>
        <a href="{% url 'signin' %}">Already have an account? Sign in</a>
      </div>
      
  </form>
  
{% endblock %}